body {
	background: linear-gradient(-45deg, #ee7652ad, #eb2244c5, #23a5d5c9, #23d5abb2);
	background-size: 400% 400%;
	animation: gradient 55s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}